<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Sistema Gerenciador de consultoras</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Custom fonts for this template -->
	<link href="/static/assets/plugins/themify/css/themify.css" rel="stylesheet" type="text/css">

	<!-- Angular Tooltip Css -->
	<link href="/static/assets/plugins/angular-tooltip/angular-tooltips.css" rel="stylesheet">

	<!-- Page level plugin CSS -->
	<link href="/static/assets/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Page level plugin CSS -->
	<link href="/static/css/animate.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/css/glovia.css" rel="stylesheet">
	<link href="/static/css/glovia-responsive.css" rel="stylesheet">

	<!-- Custom styles for Color -->
	<link href="/static/css/skins/default.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="hidden-xs hidden-sm col-lg-6 col-md-6 gredient-bg">
				<div class="clearfix">
					<div class="logo-title-container text-center">
						<h3 class="cl-white text-upper">Sistema Gerenciador de consultoras</h3>
					</div>
					<!-- .logo-title-container -->
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-6 col-lg-6 login-sidebar animated fadeInRightBig">

				<div class="login-container animated fadeInRightBig">

					<h2 class="text-center text-upper">Já sou consultor(a)</h2>
					<form class="form-horizontal" method="post" action="{% url 'login' %}">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" id="inputEmail3" placeholder="Usuário" name="username">
							<i class="fa fa-user"></i>
						</div>

						<div class="form-group help">
							<input type="password" class="form-control" placeholder="Senha" name="password">
							<i class="fa fa-lock"></i>
						</div>
						
						<div class="form-group">
							<div class="flexbox align-items-center">
								<input type="submit" value="Entrar" class="btn gredient-bg">
							</div>
						</div>

						{% if form.errors %}
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								Seu usuário ou senha não estão corretos. Tente novamente.
							</div>
						{% endif %}
						
						<input type="hidden" name="next" value="{{ next }}">
					</form>
				</div>
				<!-- .login-container -->
			</div>
			<!-- .login-sidebar -->
		</div>
		<!-- .row -->
	</div>


	<!-- Bootstrap core JavaScript-->
	<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
	<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/static/assets/plugins/jquery-easing/jquery.easing.min.js"></script>

	<!-- Slick Slider Js -->
	<script src="/static/assets/plugins/slick-slider/slick.js"></script>

	<!-- Slim Scroll -->
	<script src="/static/assets/plugins/slim-scroll/jquery.slimscroll.min.js"></script>

	<!-- Angular Tooltip -->
	<script src="/static/assets/plugins/angular-tooltip/angular.js"></script>
	<script src="/static/assets/plugins/angular-tooltip/angular-tooltips.js"></script>
	<script src="/static/assets/plugins/angular-tooltip/index.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/static/js/glovia.js"></script>

	<script>
		$('.dropdown-toggle').dropdown()
	</script>

</body>

</html>