{% extends "principal/base.html" %}
{% block block_content %}

{% if nova_consultora %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Usuário cadastrado com sucesso.
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Lista de Consultoras</h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consultora in lista_consultoras %}
                            <tr>
                                <td>{{ consultora.id }} </td>
                                <td>{{ consultora.usuario.first_name }}</td>
                                <td>{{ consultora.usuario.email }}</td>
                                <td>{{ consultora.status }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}