{% extends "principal/base.html" %}
{% block card_title %}
Estoque {% endblock %}
{% block block_content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <table class="table table-lg table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Qtd</th>
          </tr>
        </thead>

        <tbody>
          {% for produto in estoque %}
          <tr>
            <td><a href="#">{{ produto.produto.nome}}</a></td>
            <td>#{{ produto.produto.codigo}}</td>
            <td>{{ produto.quantidade}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts_block %}

{% endblock %}