<div class="navbar-side">
  <ul class="navbar-nav navbar-sidenav bg-light-dark" id="exampleAccordion">

    <!-- Start Consultoras-->
    <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Dashboard" data-parent="#exampleAccordion">
        <i class="ti i-cl-1 ti-user"></i>
        <span class="nav-link-text">Consultoras</span>
      </a>
      <ul class="sidenav-second-level collapse" id="Dashboard">
        <li>
          <a href="{% url 'cadastrar_consultora' %}">Cadastrar</a>
        </li>
        <li>
          <a href="{% url 'lsita_consultora' %}">Consultar</a>
        </li>
      </ul>
    </li>
    <!-- End Consultoras -->

  </ul>
</div>