<div class="navbar-side">
  <ul class="navbar-nav navbar-sidenav bg-light-dark" id="menu">

    <!-- Start Consultoras-->
    <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Consultoras">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Consultoras" data-parent="#menu">
        <i class="ti i-cl-1 ti-user"></i>
        <span class="nav-link-text">Consultoras</span>
      </a>
      <ul class="sidenav-second-level collapse" id="Consultoras">
        <li>
          <a href="{% url 'cadastrar_consultora' %}">Cadastrar</a>
        </li>
        <li>
          <a href="{% url 'lista_consultora' %}">Consultar</a>
        </li>
      </ul>
    </li>
    <!-- End Consultoras -->

    <!-- Start Produtos-->
    <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Produtos">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Produtos" data-parent="#menu">
        <i class="fa fa-fw fa-cubes"></i>
        <span class="nav-link-text">Produtos</span>
      </a>
      <ul class="sidenav-second-level collapse" id="Produtos">
        <li>
          <a href="{% url 'cadastrar_produto' %}">Cadastrar</a>
        </li>
        <li>
          <a href="{% url 'lista_produtos' %}">Consultar</a>
        </li>
      </ul>
    </li>
    <!-- End Produtos -->

    <!-- Start Pedidos-->
    <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Pedidos">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Pedidos" data-parent="#menu">
          <i class="ti ti-shopping-cart"></i>
          <span class="nav-link-text">Pedido </span>
        </a>
        <ul class="sidenav-second-level collapse" id="Pedidos">
          <li>
            <a href="{% url 'importar_pedidos' %}">Importar</a>
          </li>
          <li>
            <a href="{% url 'consultar_pedidos' %}">Consultar</a>
          </li>
        </ul>
      </li>
      <!-- End Pedidos -->
  </ul>
</div>