<div class="navbar-side">
  <ul class="navbar-nav navbar-sidenav bg-light-dark" id="exampleAccordion">
    <!-- Clientes -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ecommerce">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#ecommerce" data-parent="#exampleAccordion">
          <i class="ti i-cl-1 ti-user"></i>
        <span class="nav-link-text">Clientes </span>
      </a>
      <ul class="sidenav-second-level collapse" id="ecommerce">

        <li>
          <a href="{% url 'cadastro_cliente' %}">Adicionar cliente</a>
        </li>

      </ul>
    </li>
    <!-- End Ecommerce -->

  </ul>
</div>